NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC0xtPVCNCLQvh2O_Ddp2CQAm8Xam8m8N0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=quiz-generator-55050.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=quiz-generator-55050
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=quiz-generator-55050.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=966883214849
NEXT_PUBLIC_FIREBASE_APP_ID=1:966883214849:web:e0e52a8c0bc6a02a23a200
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-J8LP2MTJYJ

